$color-fondo-bloques: white;
$color-fondo-contactos: rgb(152, 193, 255);
$color-fondo-contactos-movil: rgb(152, 193, 255);
$color-fondo-perfiles: rgb(152, 193, 255);
$color-fondo-perfiles-movil: rgb(152, 193, 255);
$color-gradiente: rgb(152, 193, 255);
$color-gradiente-2: white;
$color-gradiente-movil: rgb(152, 193, 255);
$color-letra-header: black;
$color-letra-comun: black;
$color-letra-perfiles: black;
$color-letra-footer: black;

body {
    background-color: $color-fondo-bloques;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 0px;
    align-items: stretch;
    justify-content: stretch;
    grid-template-areas:
        "header header header"
        "home home home"
        "footer footer footer"
    ;
}

@media screen and (max-width: 667px) {
    .grid {
        float: none;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-row-gap: 0px;
        align-items: stretch;
        justify-content: stretch;
        grid-template-areas:
            "home"
            "footer"
        ;
    }
}

header {
    grid-area: header;
    color: $color-letra-header;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 10px;
    letter-spacing: 2px;
    background-image: url("./Multimedia/img-header.jpg");
    background: linear-gradient(to right, $color-gradiente, $color-gradiente-2);


    #titulo {
        margin-top: 30px;
        margin-left: 30px;
        font-size: 40px;
    }
    #subtitulo {
        animation-duration: 17s;
        animation-name: parpadeo;

        @keyframes parpadeo {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    #pensador {
        transition: height 4s, width 2s;
        animation-duration: 17s;
        animation-name: parpadeo;

        @keyframes parpadeo {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    #pensador:hover {
        height: 250px;
        width: 250px;
    }

    .cabecera__principal {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }

    .cabecera__izquierda {
        text-align: center;
        justify-content: center;
        width: 50%;
        height: auto;
        flex-direction: column;
        margin-top: 35px;
    }

    .cabecera__derecha {
        width: 50%;
        height: auto;
        display: flex;

    }
}

@media screen and (max-width: 667px) {
    header {
        display: none;
        grid-area: header;
        color: $color-letra-header;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        line-height: 10px;
        letter-spacing: 2px;
        background-image: url("./Multimedia/img-header.jpg");
        background: linear-gradient(to right, $color-gradiente, $color-gradiente-2);
    }
}

#home {
    grid-area: home;
    background-color: $color-fondo-bloques;

}

#homeContactos {
    grid-area: home;
    background-color: $color-fondo-bloques;
    flex-direction: row;
    display: flex;
}

div {
    color: $color-letra-comun;
    background-color: $color-fondo-bloques;
    text-align: center;
    align-content: center;
    background-image: url("./Multimedia/img-header.jpg");
    flex-direction: column;
}


/*FLEXBOX*/

.contenedor {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;

    .contenedor__perfil {
        width: 100%;
        display: flex;
        background-color: $color-fondo-perfiles;
        border-style: solid;
        border-color: $color-letra-perfiles;
        text-align: center;
        font-weight: bolder;
        list-style-type: circle;
        display: unset;
        flex-direction: row;
        background-image: none;
        border-width: 2px;
    }
}

@media screen and (max-width: 667px) {
    .contenedor {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 8px;

        .contenedor__perfil {
            width: 100%;
            display: flex;
            background-color: $color-fondo-perfiles-movil;
            border-style: solid;
            border-color: $color-letra-perfiles;
            text-align: center;
            font-weight: bolder;
            list-style-type: circle;
            display: unset;
            flex-direction: row;
            background-image: none;
            border-width: 2px;
        }
    }
}

footer {
    grid-area: footer;
    background-color: $color-fondo-bloques;
    color: $color-letra-footer;
    background-image: url("./Multimedia/img-header.jpg");
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    text-align: left;
    background: linear-gradient(to left, $color-gradiente, $color-gradiente-2);
}

@media screen and (max-width: 667px) {
    footer {
        grid-area: footer;
        background-color: $color-fondo-bloques;
        color: $color-letra-footer;
        background-image: url("./Multimedia/img-header.jpg");
        font-family: 'Teko', sans-serif;
        letter-spacing: 2px;
        text-align: center;
        background: linear-gradient(to left, $color-gradiente-movil, $color-gradiente-2);
    }
}

/*FLEXBOX EN SECCION DE CONTACTOS*/

.divContacto {
    display: flex;
    width: 100%;
    height: auto;
    background-image: none;
    flex-direction: row;
    justify-content: left;

    .divFormulario {
        display: flex;
        background-color: $color-fondo-contactos;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 667px) {
    .divContacto {
        display: flex;
        width: 100%;
        height: auto;
        background-image: none;

        .divFormulario {
            display: flex;
            background-color: $color-fondo-contactos-movil;
            width: 100%;
            flex-direction: row;
            justify-content: center;
        }
    }
}